streamlit==1.45.1

pandas==2.2.3
numpy==1.26.4

scikit-learn==1.5.2

tensorflow==2.16.1

sentence-transformers==3.0.1
transformers==4.44.2
torch==2.3.1

faiss-cpu==1.8.0

scikit-surprise==1.1.4

shap==0.46.0
lime==0.2.0.1
